/* Change the background color of the page body */
/* Change the default text color */

body {
  background-color: #282c34	;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}


/* Add spacing (padding/margin) between sections */
h1,
h2,
h3 {
font-weight: 600;
margin-bottom: 0.5rem;
}

section {
  padding: 0.8rem 0;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}



main {
  flex-grow: 1;
}

footer {
  background-color:  #3f666b;
  font-size: 1.125rem;
  color: whitesmoke;
}

.container {
  padding: 1rem 1rem;
  margin: 0 auto;
  max-width: 1024px;
  width: 90vw;
}


/* Change the font size, weight, and color of all headings */

h1 {
  font-size: 32px;
  font-weight: lighter;
 
}

h2 {
  font-size: 32px;
  font-weight: lighter;

}

h3 {
  font-size: 16px;
  font-weight: normal;
}

/* Navegation bar and menu */
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
} 

.menu {
  display: flex;
  align-items: center;
}

.menu--hide-mobile {
  display: flex;
}

.menu__item {
  font-size: 1.125rem;
}

.menu__item--large {
  font-size: 1.25rem;
}

.menu__item:not(:last-child) {
  margin-right: 1rem;
}

/* Handling images */


.heading_image {
  width: 100px;
  border-radius: 999px;
}

/* Handling link aspect */
.link {
  display: inline-block;
  text-decoration: none;
  
}

.link--no-color {
  color: inherit;
}

.link:not(.link--no-decor):hover::after {
  border-bottom: 2px solid #3fc5a8	;
  content: '';
  display: block;
}

.link--no-color:hover::after {
  border-color: whitesmoke;
}

/* Transform the "Skills" list items into styled blocks */
.tag {
  border-radius: 50%;
  border: 2px solid #3fc5a8	;
  color: #3fc5a8	;
  display: inline-block;
  padding: 0.35rem 0.75rem;
  margin-bottom: 0.5rem;
  height: 2.5rem;
  width: 6.5rem;
  text-align: center;
}

.tag:not(:last-child) {
  margin-right: 1rem;
}


/* Transform the "Experience" list items into styled blocks */
.card {
  background-color: #3f666b;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
}

.card:not(:last-child) {
  margin-bottom: 1rem;
}

em,
.emphasis {
font-style: italic;
color: whitesmoke;

}

/* Contact links */
.contact-links {
  display: inline-block;
  padding: 1rem 0rem;
}

.contact-details {
  font-size: large;
  padding: 0rem 0.5rem;
}



/* Style the "Leave a Message" form elements
Change font size and color of labels
Change font size, padding, border, etc. of inputs and textarea
Add spacing (padding/margin) between form fields
Change padding, background color, border, etc. of submit button */

.field {
display: block;
margin-bottom: 1rem;
max-width: 100%;
width: 32rem;
}

.field--inline {
display: inline-block;
margin-right: 1rem;
width: 15.35rem;
}

.field__label,
.field__input {
display: block;
}

.field__label {
  color: whitesmoke;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.field__input {
  padding: 0.25rem 0.5rem;
  width: 100%;
}


.button {
  background-color: #3f666b	;
  border-radius: 3px;
  color: white;
  min-width: 100px;
  padding: 0.5rem 1rem;
  transition: opacity 0.2s ease-in-out;
}

.button--large {
font-size: 1.125rem;
}

.button--minimal {
background-color: #3f666b;
color: white;
margin-left: auto;
}

.button--danger {
background-color: red;
color: white;
margin-left: 1rem;
}

.button:hover,
.button:focus {
opacity: 0.9;
}

header {
  background-color: #3f666b;
  border-bottom: 2px solid #3fc5a8	;
  padding: 0.5rem 0.5rem;
  color: white;
}

footer {
  font-weight: 100;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  border-top: 2px solid #3fc5a8	;
}

footer > p {
  margin: 1rem;
}


.project-pic {
  height: 10rem;
  border-radius: 3px;
}

.projects-container {
  display: flex; 
} 

.projects-title {
  margin-bottom: 1rem;
  
}

.project-container {
  text-align: center;
  width: 250px;
  align-items: center;
  margin: auto;
  padding: 20px 20px;
}


.project-details {
  margin-bottom: 2px;
  font-weight: lighter;
  color: black;
}


.project-title {
  margin-top: 0.5rem;
  font-weight: bold;
  color: black;
}

.project-card {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 3px 10px gray;
  height: 25rem;
  align-items: center;
}

.project-link {
  font-weight: bolder;
  color:  #3f666b;
}

.message {
  background-color: whitesmoke;
  border-radius: 3px;
  align-items: right;
  display: flex;
  padding: 1rem 1rem;
  color: #000;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


/* The sidebar menu */
.sidebar {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0;
left: 0;
background-color:  #3f666b; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sibebarbtn {
  display: none;
}

.mySidebar {
  display: flex;
  align-items:flex-end;
}

.sideButton {
  background-color: #3fc5a8;
  border-radius: 3px;
  color: white;
  min-width: 100px;
  padding: 0.5rem 1rem;
  transition: opacity 0.2s ease-in-out;
}

/* The sidebar links */
.sidebar a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: whitesmoke;
display: block;
transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .menu--hide-mobile {
    display: none;
  }
  .sibebarbtn {
    display: block;
  }
  .projects-container {
      display: block;
  }
  .project-card {
      margin-bottom: 20px; 
  }
  .message {
    background-color: whitesmoke;
    border-radius: 3px;

  }
  
}
