:root {
    --color-darkest: #000;
    --color-darker: #2b2b4a;
    --color-dark: #55556e;
    --color-medium: #808092;
    --color-light: #d5d5db;
    --color-lighter: #f7f5f9;
    --color-lightest: #fff;
    --color-navy: navy;
    --color-primary: #0072e0;
    --color-danger: #dc2626;
  
    --rounded: 3px;
    --rounded-full: 999px;
  }


/* Change the background color of the page body */

/* Change the default text color */

body {
    background-color: var(--color-lightest);
    color: var(--color-darker);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }


/* Add spacing (padding/margin) between sections */
h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

section {
    padding: 0.8rem 0;
}

p:not(:last-of-type) {
    margin-bottom: 1rem;
  }
  


main {
    flex-grow: 1;
}

footer {
    background-color: var(--color-lighter);
    font-size: 1.125rem;
  }

.container {
    padding: 1rem 1rem;
    margin: 0 auto;
    max-width: 1024px;
    width: 90vw;
}


/* Change the font size, weight, and color of all headings */

h1 {
    font-size: 32px;
    font-weight: lighter;
    /* color: var(--color-navy); */
}

h2 {
    font-size: 32px;
    font-weight: lighter;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

/* Navegation bar and menu */
.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
} 
  
.menu {
    display: flex;
    align-items: center;
}

.menu--hide-mobile {
    display: none;
}

.menu__item {
    font-size: 1.125rem;
}

.menu__item--large {
    font-size: 1.25rem;
}

.menu__item:not(:last-child) {
    margin-right: 1rem;
}

/* Handling images */


.heading_image {
    width: 100px;
    border-radius: var(--rounded-full);
}

/* Handling link aspect */
.link {
    display: inline-block;
    text-decoration: none;
    
  }
  
.link--no-color {
    color: inherit;
  }
  
.link:not(.link--no-decor):hover::after {
    border-bottom: 2px solid var(--color-primary);
    content: '';
    display: block;
  }

.link--no-color:hover::after {
    border-color: whitesmoke;
}

/* Transform the "Skills" list items into styled blocks */
.tag {
    border-radius: var(--rounded);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
}
  
.tag:not(:last-child) {
    margin-right: 1rem;
}


/* Transform the "Experience" list items into styled blocks */
.card {
    background-color: var(--color-lighter);
    border-radius: var(--rounded);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
  
.card:not(:last-child) {
    margin-bottom: 1rem;
}

em,
.emphasis {
  font-style: italic;
  color: var(--color-medium);
}

/* Style the "Leave a Message" form elements
Change font size and color of labels
Change font size, padding, border, etc. of inputs and textarea
Add spacing (padding/margin) between form fields
Change padding, background color, border, etc. of submit button */

.field {
display: block;
margin-bottom: 1rem;
max-width: 100%;
width: 100%;
}

.field--inline {
display: inline-block;
margin-right: 1rem;
}

.field__label,
.field__input {
display: block;
}
  
.field__label {
    color: var(--color-dark);
    font-weight: 500;
    margin-bottom: 0.25rem;
}
  
.field__input {
    padding: 0.25rem 0.5rem;
    width: 100%;
}


.button {
    background-color: var(--color-primary);
    border-radius: var(--rounded);
    color: var(--color-lightest);
    min-width: 100px;
    padding: 0.5rem 1rem;
    transition: opacity 0.2s ease-in-out;
}
  
.button--large {
font-size: 1.125rem;
}

.button--minimal {
background-color: var(--color-dark);
color: white;
margin-left: 27rem;
}

.button--danger {
background-color: var(--color-danger);
margin-left: 1rem;
}

.button:hover,
.button:focus {
opacity: 0.9;
}


@media screen and (min-width: 768px) {
.menu--hide-mobile {
    display: flex;
}

.card {
    flex-direction: row;
    justify-content: space-between;
}

.field {
    width: 32rem;
}

.field--inline {
    width: 15.35rem;
}
}

header {
    background-color: var(--color-lighter);
    border-bottom: 4px solid var(--color-navy);
    padding: 0.5rem 0.5rem;
}

footer {
    font-weight: 100;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border-top: 4px solid var(--color-navy);
}

footer > p {
    margin: 1rem;
}

footer i {
    vertical-align: middle;
}


.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 0rem;
  }
  
  .project-pic {
    width: max-content;
    height: 10rem;
    border-radius: var(--rounded-full)
    

  }
  
  .projects-container {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .projects-title {
    /* text-align: center; */
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 15.875rem;
    padding: 0.2rem;
    
  }
  

  .project-details {
    margin-bottom: var(--bottom-margin);
    font-weight: lighter;
  }


  .project-title {
    margin-top: 0.5rem;
    font-weight: bold;
  }
  
  .project-card {
    background-color: whitesmoke;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px; 
    
  }

  .project-link {
    font-weight: bolder;

  }

  .message {
    background-color: whitesmoke;
    border-radius: var(--rounded);
    align-items: right;
    display: flex;
    padding: 1rem 1rem;
  }
